@font-face {
    font-family: "Overpass-Bold";
    src: url("../media/fonts/Overpass-Bold.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Overpass-Light";
    src: url("../media/fonts/Overpass-Light.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Overpass-Regular";
    src: url("../media/fonts/Overpass-Regular.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

$g: #383838;/*Темный цвет фона*/
$o: #F4976C;/*Цвет кнопок*/
$btnHover: #FF854D; /*Наведение на кнопку*/
$btnActive: #FF7433; /*Активная кнопка*/
$y: #FFD89E;/*Фон баннера*/
$h: rgb(42, 146, 42);/*Ссылки при наведении*/
$b: black;
$control: #FF7433; /*Кнопки Плюс и Минус*/
$gradient: linear-gradient(to right, rgba(255, 216, 158, 0), rgba(255, 216, 158, 1));/*Фон баннера*/
$Mgradient: linear-gradient(to top, rgba(255, 216, 158, 0), rgba(255, 216, 158, 1));/*Фон баннера мобильный*/
$icoHover: #c4c4c4; /*Иконки при наведении*/

html, body {
    font-size: 16px;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

main{
    display: flex;
	flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    padding: 10px 0 10px 0;
    flex: 1 0 auto;
    @media (max-width: 1024px) {
        width: 80%;
    }

    @media (max-width: 768px) {
        width: 90%;
    }
}
// Шапка сайта
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: clamp(50px, 10%, 200px);
    padding-left: clamp(50px, 10%, 200px);
    height: clamp(35px, 5vw, 50px);
    max-width: 100%;
    @media (max-width: 768px) {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    &__logo {
        margin: 0 5% 0 0;
        flex: 1 1 20%;

        @media (max-width: 768px) {
            flex: 1 1 25%;
        }

        & span{
            color: rgb(42, 146, 42);
        }

        & h1 {
            text-align: center;
            font-family: "Overpass-Bold", sans-serif;
            font-size: clamp(20px, 2vw, 30px);
            margin: 0;
        }

        & a {
            color: $b;
            text-decoration: none;
            transition: all .3s;
            &:hover {
                transition: all .3s;
                color: $h;
            }
        }
    }

    &__nav {
        &--pc {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1 1 25%;
            margin: 0;
            padding: 0;
            @media (max-width: 768px) {
                display: none;
            }

            & li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: clamp(70px, 10vw, 200px);
                list-style-type: none;

                & a {
                    font-family: "Overpass-Regular", sans-serif;
                    font-size: clamp(10px, 1.5vw, 20px);
                    color: $b;
                    text-decoration: none;
                    transition: all .3s;
                    &:hover {
                        transition: all .3s;
                        color: $h;
                    }
                }
            }
        }
    }

    &__but {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 25%;

        @media (max-width: 768px) {
            flex: 1 1 45%;
            align-items: end;
        }

        & a{
            text-decoration: none;
            transition: all .3s;
            font-family: "Overpass-Regular", sans-serif;
            font-size: clamp(15px, 1.5vw, 20px);
            color: white;
            border: 2px solid rgb(49, 109, 49);
            padding: 10px 15px 10px 15px;
            padding-left: clamp(15px, 1.5vw, 20px);
            padding-top: clamp(5px, 1vw, 8px);
            padding-bottom: clamp(5px, 1vw, 8px);
            padding-right: clamp(15px, 1.5vw, 20px);
            background-color: rgb(49, 109, 49);
            &:hover{
                transition: all .3s;
                color: rgb(49, 109, 49);
                border: 2px solid rgb(49, 109, 49);
                background-color: white;
            }
        }
    }
}

// Мобильный бургер
.burger-checkbox {
    position: absolute;
    visibility: hidden;

    &:checked {
        + {
            .burger {
                &::before {
                    top: 11px;
                    transform: rotate(45deg);
                    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
                    transition: box-shadow .15s, top .3s, transform .3s .15s;
                }

                &::after {
                    bottom: 11px;
                    transform: rotate(-45deg);
                    transition: bottom .3s, transform .3s .15s;
                }
            }
        }

        ~ {
            .menu-list {
                transform: translateX(0);
                &:hover{
                    transform: translateX(-100%);
                }
            }
        }
    }
}

.burger {
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 30px auto;
    z-index: 3;

    @media (max-width: 768px) {
        display: block;
        flex: 1 1 50%;
    }

    &::before {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: black;
        top: 0;
        box-shadow: 0 11px 0 black;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    &::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: black;
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
}

.menu-list {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    display: none;

    @media (max-width: 768px) {
        display: grid;
    }
    border-radius: 0 0 10px 0;
    gap: 12px;
    grid-template-rows: repeat(3, 50px);
    padding: 42px 0;
    margin: 0;
    background: white;
    border: solid 1px rgba(42, 146, 42);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 70%;
}

.menu-item {
    display: none;

    @media (max-width: 768px) {
        display: block;
        border-bottom: solid 1px rgba(42, 146, 42);
    }

    padding: 8px;
    font-family: "Overpass-Regular", sans-serif;
    font-size: clamp(20px, 1vw, 30px);
    color: $b;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: rgba(255, 255, 255, .2);
    }
}

.items {
	background: black;
	border-radius: 8px;
	display: flex;
	font-size: 18px;
	height: clamp(20px, 10vw, 40px);
    width: clamp(100px, 15vw, 120px);
    
    &__btn{
        font-size: clamp(15px, 1.5vw, 25px);
        width: 80%;
        padding: 5%;
        margin: 0 0 5% 0;
        font-family: "Montserrat-Regular", sans-serif;
        text-align: center;
        border: none;
        color: $b;
        text-decoration: none;
        background-color: $o;
        border-radius: 50px;
        transition: all .3s;
        &:hover{
            transition: all .3s;
            background-color: $btnHover;
        }
        &:active{
            background-color: $btnActive;
        } 
    }
    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        cursor: pointer;
        font-size: clamp(20px, 1vw, 30px);
        text-align: center;
        &:hover {
            background: $control;
            color: black;
            border-radius: 8px;
        }
    }
    &__current {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        text-align: center;
        font-family: "Overpass-Regular", sans-serif;
        font-size: 15px;
    }
    &--small {
        font-size: 16px;
        height: clamp(30px, 5vw, 40px);
        width: clamp(90px, 10vw, 120px);
        text-align: center;
        .items__control {
            width: clamp(15px, 10vw, 45px);
        }
        .items__current {
            width: clamp(15px, 10vw, 45px);
        }
    }
}

// Подвал сайта
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 0 0;
    padding: 1% 10% 0 10%;
    flex: 0 0 auto;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    & p {
        color: $b;
        font-family: "Overpass-Regular", sans-serif;
        font-size: clamp(8px, 1vw, 15px);
        margin-bottom: 0;
    }
    & a{
        color: $b;
        text-decoration: none;
    }
    &__ico {
        width: 20vw;
        display: flex;
        justify-content: center;

        & img {
            width: clamp(22px, 1.5vw, 32px);
            padding: 0 10px 10px 0;

            @media (max-width: 768px) {
                padding: 10px 5px 10px 5px;
            }
        }
        & a{
            transition: all .3s;
            &:hover{
                transform: translateY(-8px);
                transition: all .3s;
            }
        }
    }
}

// Заголовок сайта
.zag {
    margin: 30px 0 30px 0;
    & h2{
        font-family: "Overpass-Bold", sans-serif;
        font-size: clamp(24px, 2vw, 34px);
        text-align: center;
        letter-spacing: 3px;
    }
}

// Стили Бутстрапа
.card {
    border: solid 1px rgba(42, 146, 42, 0.541);
    & h5{
        font-family: "Overpass-Bold", sans-serif;
        font-size: clamp(16px, 1.5vw, 22px);
    }
    & p{
        font-family: "Overpass-Regular", sans-serif;
        font-size: clamp(14px, 1vw, 16px);
    }
}
.row{
    margin: 0 0 50px 0;
}
.btn{
    transition: all .2s;
    font-family: "Overpass-Regular", sans-serif;
    color: white;
    border: 2px solid rgb(49, 109, 49);
    padding: 10px 15px 10px 15px;
    padding-left: clamp(15px, 1.5vw, 20px);
    padding-top: clamp(5px, 1vw, 8px);
    padding-bottom: clamp(5px, 1vw, 8px);
    padding-right: clamp(15px, 1.5vw, 20px);
    background-color: rgb(49, 109, 49);
    &:hover{
        transition: all .2s;
        color: rgb(49, 109, 49);
        border: 2px solid rgb(49, 109, 49);
        background-color: white;
    }
}